<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
</head>
<body>
    <ul id="navigation">
        <li><a href="">{{ nom }}</a></li>
    </ul>

    <h1>My Webpage</h1>
    {{ time_stamp }}
    <h2>My Webpage</h2>
    {{ country }}

    {# a comment #}
</body>
</html>
